
.diagonal-box {
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
	background-image: linear-gradient(45deg, rgba(2, 209, 255, 1), rgba(0, 138, 255, 1));
} 




