.form-login {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-login label {
    text-transform: uppercase;    
}

.inputModal{
    padding: 10px;
    box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.buttonModal{
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
    width: 30vh;
    margin-left: 15vh;
    background-color: #48ff00;
}