.search-box label {
    margin: 0;
}

.search-box input {
    width: 100%;
    box-sizing: border-box;
}

.filtered-data {
    box-sizing: border-box;    
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(126, 126, 126);
    border-top: none
}

.filtered-data p {
    margin: 0;
}

.filtered-data__name {
    font-size: 22px;
    font-weight: bold;
}

.filtered-data__email {
    font-weight: 300;
}

.filtered-data__button {   
    width: 44px;
    height: 44px;  
    box-sizing: border-box;   
    margin: 0;
}